@using ClimbingGym.Core.Models
@model IEnumerable<RoutesListViewModel>
@{
    ViewData["Title"] = "Routes";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Routes</h3> 
                <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                    </div>
                </div>
            </div>
            
            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                    <thead>
                        <tr>
                                <td>Name</td>
                                <td>Grade</td>
                                <td>Color</td>
                                <td>DateFrom</td>
                                <td>DateTo</td>
                                <td>Description</td>
                                <td>Sector</td>
                            </tr>
                    </thead>
                    <tbody>
                        @foreach (var route in Model)
                        {
                            <tr>
                                <td>@route.Name</td>
                                <td>@route.Grade</td>
                                <td>@route.Color</td>
                                <td>@route.DateFrom</td>
                                <td>@route.DateTo</td>
                                <td>@route.Description</td>
                                <td>@route.SectorName</td>
                                <td>
                                    <a asp-area="" asp-action="RoutesList" asp-controller="route" asp-route-id="@route.Id" class="btn btn-block btn-outline-info btn-xs">Remove</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>