@using ClimbingGym.Core.Models.Items
@model IEnumerable<ItemsListViewModel>
@{
	ViewData["Title"] = "Items";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Items</h3>
                <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                    </div>
                </div>
            </div>
            
            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Name</td>
                                <td>@item.Description</td>
                                <td>@item.Price</td>
                                <td>
                                    <a asp-area="" asp-action="Rent" asp-controller="item" asp-route-id="@item.Id"></a>
                                    <a asp-area="" asp-action="Rent" asp-controller="item" asp-route-id="@item.Id" class="btn btn-block btn-outline-info btn-xs">Rent</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>