@using ClimbingGym.Core.Models.Courses
@model CourseDetailViewModel
@{
	ViewData["Title"] = "Details";
}
<section class="content">

	<div class="card">
		<div class="card-header">
			<h3 class="card-title">@Model.Name</h3>
		</div>
		<div class="card-body">
			<div class="row">
				
					<div class="row">
						<div class="col-12">
							<div class="post">
								<div class="user-block">
									<span class="username">
										<a asp-area="" asp-action="Coach" asp-controller="course" asp-route-id="@Model.CoachId" >Coach: @Model.CoachName</a>
									</span>
									<span class="description">Starts on @Model.StartDate and ends on @Model.EndDate</span>
								</div>

								<p>
									@Model.Description
								</p>
								<p>
									<a href="/MyCourses" class="link-black text-sm"> Sign up</a>
								</p>
							</div>
						</div>
					</div>
				</>
			</div>
		</div>

	</div>

</section>